{%extends "base.html" %}
<h1>How are you feeling right now?</h1>

{% if request.user.is_authenticated %}
{% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
<h1>How are you feeling right now?</h1>

<form method="post">
  {% csrf_token %}
  <label for="mood">Tell us more about your symptoms</label>
  <select name="mood" id="mood">
    {% for choice in choices %}
      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
    {% endfor %}
  </select>
  <br>
  <button type="submit">Submit</button>
</form>

{% else %}
    Do you want to <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign-Up</a>?
{% endif %}
