{% extends 'homepage/base.html' %}

{% load static %}

{% block content %}
  <div class="container mt-5">
    {% if user.is_authenticated %}
    <div class="my-4">
        <h2>Welcome to HealthAid, {{ user.username }}!</h2>
    </div>
    {% else %}
        <div class="my-4">
            <h1>Welcome to HealthAid!</h1>
        </div>
    {% endif %}
    <br>
    <style>
      .center-text {
          text-align: center; /* Center horizontally */
      }
    </style>
    <h3 class="text-center"><strong>Your personalized health care companion</strong></h3>
    <br>

    <!-- <div class="d-flex justify-content-center align-items-center mb-3"> -->
        <!-- Awful mood -->
        <!-- <div class="text-center mx-1">
          <i class="fa fa-frown-o fa-2x" aria-hidden="true" style="color: #dc3545;"></i>
          <br>
          <button class="btn btn-sm btn-danger mt-1">awful</button>
        </div> -->
      
        <!-- Bad mood -->
        <!-- <div class="text-center mx-1">
          <i class="fa fa-frown-o fa-2x" aria-hidden="true" style="color: #ffc107;"></i>
          <br>
          <button class="btn btn-sm btn-warning mt-1">bad</button>
        </div> -->
      
        <!-- Meh mood -->
        <!-- <div class="text-center mx-1">
          <i class="fa fa-meh-o fa-2x" aria-hidden="true" style="color: #e788a8;"></i>
          <br>
          <button class="btn btn-sm btn-secondary mt-1">meh</button>
        </div> -->
      
        <!-- Good mood -->
        <!-- <div class="text-center mx-1"> -->
          <!-- <i class="fa fa-smile-o fa-2x" aria-hidden="true" style="color: #17a2b8;"></i> -->
          <!-- <br> -->
          <!-- <button class="btn btn-sm btn-info mt-1">good</button> -->
        <!-- </div> -->
      
        <!-- Great mood -->
        <!-- <div class="text-center mx-1"> -->
          <!-- <i class="fa fa-smile-o fa-2x" aria-hidden="true" style="color: #198754;"></i> -->
          <!-- <br> -->
          <!-- <button class="btn btn-sm btn-success mt-1">great</button> -->
        <!-- </div> -->
      <!-- </div> -->
    <br>
    <div class="my-4">
      <h3>Track your symptoms</h3>
      <p>
        By tracking your symptoms, we can provide a precise triage to help you understand better about what is going on with
        your body and how to reach out to professionals when necessary.
      </p>
      <div class="buttons" style="display: flex; align-items: center; justify-content: space-evenly;">
        <a href="{% url 'symptomtrack:register_symptom'%}" class="btn btn-primary">Go to Symptom Check-in</a>
        <br><br>
        <!--<a href="{% url 'symptomtrack:symptom_dashboard'%}" class="btn btn-primary">Go to Symptom Dashboard</a>-->
      </div>
    </div>
    <br>
  </div>
{% endblock %}
