{% extends 'homepage/base.html' %}

{% load static %}

{% block content %}
  <div class="container mt-5">
    <h1>Flourish Homepage</h1>
    {% if user.is_authenticated %}
    <div class="my-4">
        <h2>Welcome to Flourish, {{ user.username }}!</h2>
        </div>
        <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
        </div>
    {% else %}
        <p>Welcone to Flourish!</p>
        </div>
        Do you want to <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign-Up</a>?
        </div>
    {% endif %}
    <br>
    <div class="center-text">
      <img src="{% static 'images/flourish_home.png' %}" alt="A man with flowers growing out of his head">
    </div>
    <style>
      .center-text {
          text-align: center; /* Center horizontally */
      }
    </style>
    <h3 class="text-center">How are you feeling today?</h3>
    <br>
    <div class="d-flex justify-content-center align-items-center mb-3">
        <!-- Awful mood -->
        <div class="text-center mx-1">
          <i class="fa fa-frown-o fa-2x" aria-hidden="true" style="color: #dc3545;"></i>
          <br>
          <button class="btn btn-sm btn-danger mt-1">awful</button>
        </div>
      
        <!-- Bad mood -->
        <div class="text-center mx-1">
          <i class="fa fa-frown-o fa-2x" aria-hidden="true" style="color: #ffc107;"></i>
          <br>
          <button class="btn btn-sm btn-warning mt-1">bad</button>
        </div>
      
        <!-- Meh mood -->
        <div class="text-center mx-1">
          <i class="fa fa-meh-o fa-2x" aria-hidden="true" style="color: #e788a8;"></i>
          <br>
          <button class="btn btn-sm btn-secondary mt-1">meh</button>
        </div>
      
        <!-- Good mood -->
        <div class="text-center mx-1">
          <i class="fa fa-smile-o fa-2x" aria-hidden="true" style="color: #17a2b8;"></i>
          <br>
          <button class="btn btn-sm btn-info mt-1">good</button>
        </div>
      
        <!-- Great mood -->
        <div class="text-center mx-1">
          <i class="fa fa-smile-o fa-2x" aria-hidden="true" style="color: #198754;"></i>
          <br>
          <button class="btn btn-sm btn-success mt-1">great</button>
        </div>
      </div>
    <br>
    <div class="my-4">
      <h3>Navigate Emotions</h3>
      <p>Embark on a journey of self-discovery and emotional awareness.
        By tracking your mood on a daily basis, you're taking an important step towards understanding the intricate
        patterns of your emotional landscape. Reflect on the highs and lows, learn from them, and find your way to a more balanced
        and fulfilling emotional life.
        Start charting your course today and see how tracking the changes of your mood can lead to valuable insights
        and personal growth.
      </p>
      <a href="{% url 'emotiontrack:register_mood'%}" class="btn btn-primary">Go to Mood Check-in</a>
    </div>
    <br>
    <div class="my-4">
      <h3>Unwind Your Mind</h3>
      <p>Take a moment to pause and be more present.
        This 5-minute meditation will help you bring your awareness back to the body and breath,
        which can help which may aid in switching off the stress-related fight or flight reaction and foster a sense
        of tranquility.
      </p>
      <a href="{% url 'mindfulness:index'%}" class="btn btn-secondary">Go to Guided Meditations</a>
    </div>
  </div>
{% endblock %}
