{% extends 'mindfulness/base.html' %}

{% load static %}
{% block content %}
{% if meditations %}
{% load embed_video_tags %}
<div class="container mt-5">
    <h1>Mindfulness</h1>
    <br>
    <div class="px-3 mb-5">
        <!-- The video tag: -->
        {% for item in meditations %}
        <div class="d-flex justify-content-start">
            <h2>{{item.title}}</h2>
            <br>
        </div>
        {{item.description}}
        <br>
        <br>
        <div style="display: flex; justify-content: center; align-items: center; ">
            {% video item.url '426x240' %}
        </div>
        <br>
        <br>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}